<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Главная</title>
    <link href="../static/css/bs/bootstrap.min.css" rel="stylesheet" />
    <link href="../static/css/overrides.css" rel="stylesheet"/>
</head>
<body>
<header>

</header>
<div class="row g-0 vh-100">
    <div class="col-2 d-flex flex-column h-100 p-3 border-end sidebar-panel">
        <h5 class="fw-bold mb-4 text-uppercase">Меню</h5>

        <nav class="flex-grow-1">
            <ul class="list-unstyled sidebar-menu">
              <li><a href="#">Главная</a></li>
              <li><a href="#">Категории</a></li>
              <li><a href="#">Заказы</a></li>
              <li><a href="#">Контакты</a></li>
            </ul>

        </nav>

        <div class="dropdown position-absolute bottom-0 start-0 mb-3 ms-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Пользователь
            </button>
            <ul class="dropdown-menu dropdown-menu-start" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item my-ddi" href="#">Профиль</a></li>
                <li><a class="dropdown-item my-ddi" href="#">Выход</a></li>
            </ul>
        </div>
    </div>
    <div class="col-9">
        <div class="row">

            <div class="col-12 d-flex align-items-center" style="min-height: 120px;">
                <div class="w-100 text-center">
                    <h1 class="h1 fw-bold mb-1">Главная</h1>
                    <h3 class="fs-6 mb-0">Вы находитесь на сайте, предназначенном для продажи товаров</h3>
                </div>
            </div>

            <!-- Нижняя строка: контент -->
            <div class="col-12">
                <div class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-3 mx-2">
                        <div class="card shadow-sm text-center">
                            <div class="card-header" >Товар 1</div>
                            <div class="card-body">
                                <div class="price">
                                    $100
                                </div>
                                <div class="unit-description">
                                    Описание товара
                                </div>
                                <button type="button" class="btn btn-outline-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mx-2">
                        <div class="card shadow-sm text-center">
                            <div class="card-header" >Товар 1</div>
                            <div class="card-body">
                                <div class="price">
                                    $100
                                </div>
                                <div class="unit-description">
                                    Описание товара
                                </div>
                                <button type="button" class="btn btn-outline-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 mx-2">
                        <div class="card shadow-sm text-center">
                            <div class="card-header" >Товар 1</div>
                            <div class="card-body">
                                <div class="price">
                                    $100
                                </div>
                                <div class="unit-description">
                                    Описание товара
                                </div>
                                <button type="button" class="btn btn-outline-primary">Купить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<footer class="footer bg-light py-4">

</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>

</body>
</html>